<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css">
    <script src="/node_modules/mditor/dist/js/mditor.min.js"></script>
</head>

<body>
    <%- include('../header')%>
        <div class="container">
            <h1>
                <%=data.title%>
                    <% if(islogin && user.id === data.authorId) {%>
                        <a href="/article/edit/<%= data.id%>>" class="btn btn-info pull-right">编辑</a>
                        <%}%>
            </h1>
            <hr>
            <%- data.content%>
        </div>
        <%- include('../footer')%>
</body>

</html>